:root {
  --primary: #f9a825;
}

h1 {
  color: white;
}

body {
  color: white;
  background-color: #16161d;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 100%;
}

a {
  color: var(--primary);
}

select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;
}

option {
  color: black;
}

button {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.2s;
}

button.ghost {
  background-color: transparent;
  color: var(--primary);
}

button.ghost > * {
  border-color: var(--primary);
  color: var(--primary);
}

button.ghost:disabled {
  background-color: transparent;
  color: #d8d8d8;
}

button.ghost:disabled > * {
  border-color: #d8d8d8;
  color: #d8d8d8;
}

button.outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

button.outline > * {
  border-color: var(--primary);
  color: var(--primary);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:disabled {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

button + button {
  margin-left: 10px;
}

.fade-hide {
  opacity: 0%;
}

.fade-show {
  opacity: 100%;
}

.transition-fade {
  transition: opacity 0.5s;
}

.collapse-show {
  max-height: 100%;
}

.collapse-hide {
  max-height: 0%;
}

.transition-collapse {
  overflow: hidden;
  transition: max-height 0.5s;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

.captured-preview {
  width: 60%;
  margin: 10px 0 10px 0;
  max-width: 1080px;
}

#video-overlay {
  color: white;
  width: 90%;
  max-width: 1080px;
  height: 100%;
  position: relative;
  margin: 10px 0 10px 0;
  aspect-ratio: 3 / 2;
}

#video-overlay::before {
  content: '';
  font-size: 50px;
  position: absolute;
  background: white;
  opacity: 0.0;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#video-overlay video {
  background-color: #e8e8e8; 
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#tools {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#tools div {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*
#video {
  background-color: gray; 
  border-radius: 10px;
  margin: 10px 0 10px 0;
  width: 60%;
  max-width: 1080px;
  aspect-ratio: 3 / 2;
}
*/

#countdown {
  position: absolute;
  padding: 5px 10px;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 2;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -45%);
}

#total-image {
  font-size: 20px;
  margin: 0px;
  padding: 10px 0px;
}

#previewer-container {
  position: relative;
  max-height: 70vh;
  max-width: 50%;
}

#previewer-overlay {
  position: absolute;
  background: black;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#previewer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 9999;
  font-size: 30px;
  color: white;
}

#previewer {
  width: 100%;
  max-height: 60vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#customize-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#template-select-container {
  max-height: 70vh;
  overflow-y: auto;
  margin: 0 10px 10px 10px;
  padding: 20px;
  -ms-overflow-style: none;
  scrollbar-color: gray #2c2c2c;
  scrollbar-width: thin;
}

.blocker {
  position: absolute; 
  min-width: 100%; 
  min-height: 100%; 
  display: none; 
  z-index: 9999;
}

.template-select {
  height: 20vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
  margin: 15px;
}

.template-select:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.image-selector-button {
  min-width: 0px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.image-selector {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
  justify-content: center;
}

.image-container {
  position: relative;
  width: 60%;
  max-width: 1080px;
  margin: 10px 0 10px 0;
  aspect-ratio: 3 / 2;
}

.captured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pickr {
  border: solid gray 2px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.pickr:hover {
  cursor: pointer;
}
