<div 
  x-transition
  x-data="cameraState()"
>
  <div 
    x-show="!isFinished()"
    class="container-center" 
    id="camera-container" 
  >
    <h1><i>Take Pictures!</i></h1>
    <div id="video-overlay" x-ref="overlay">
      <p 
        x-show="started" 
        id="countdown" 
        x-text="timer" 
      ></p>
      <video id="video" class="camera" x-ref="video">Video stream not available.</video>
    </div>
    <div x-show="!started" style="margin-bottom: 10px;">
      <lable>Selfie:</lable>
      <input 
        type="checkbox" 
        @change="mirrorCamera($event.target.checked)"
        checked
      />
    </div>
    <div x-show="!started">
      <lable>Countdown in:</lable>
      <select 
        id="countdown-select" 
        :value="countdown" 
        @change="countdown = $event.target.value"
      >
        <option value="3">3s</option>
        <option value="5">5s</option>
        <option value="10">10s</option>
      </select>
    </div>
    <p 
      x-show="started" 
      id="total-image" 
      x-text="`captured ${totalPhoto} of ${toCapture} photos`"
    ></p>
    <div style="padding: 10px 0 10px 0;">
      <button 
        id="next-button" 
        @click="closeCamera()" 
        x-show="!started"
        hx-target="main" 
        hx-get="./component/template.html"
        hx-swap="innerHTML"
      >
        <i class="arrow arrow-left"></i>
        Back
      </button>
      <button 
        x-show="!started"
        id="start-button" 
        @click="startCapture()" 
      >
        Start
      </button>
    </div>
  </div>

  <div 
    x-show="isFinished()"
    class="container-center" 
    id="preview-container" 
  >
    <h1><i>Let's Pick Photos</i></h1>
    <div x-show="photosData.length > 0" x-data="{ photoIndex: 0 }" class="image-selector">
      <!-- Previous Button -->
      <button 
        class="image-selector-button"
        :disabled="!(photosData.length > 1 && photoIndex > 0)" 
        @click="photoIndex--"
      >
        <i class="arrow arrow-left"></i>
      </button>

      <!-- Image Wrapper -->
      <div class="image-container">
        <img 
          class="captured-image" 
          :src="photosData[photoIndex] && photosData[photoIndex].image"
        />
        
        <!-- Checkbox Overlay -->
        <input 
          x-ref="imageCheckbox"
          type="checkbox" 
          @change="toggleSelectPhoto(photoIndex, $event.target.checked)"
          :checked="photosData[photoIndex] && photosData[photoIndex].selected" 
          :disabled="!canToggle(photoIndex)"
          class="image-checkbox"
        />
      </div>

      <!-- Next Button -->
      <button 
        class="image-selector-button"
        :disabled="!(photosData.length > 1 && photoIndex < photosData.length - 1)" 
        @click="photoIndex++"
      >
        <i class="arrow arrow-right"></i>
      </button>
    </div>
    <p 
      id="total-image" 
      x-text="`selected ${selectedCount} of ${baseAmount} photos`"
    ></p>
    <div style="padding: 10px 0 10px 0;">
      <button 
        id="restart-button" 
        @click="reset()" 
      >
        Retake
      </button>
      <button 
        id="next-button" 
        @click="onNext()" 
        :disabled="selectedCount !== baseAmount" 
      >
        Next 
        <i class="arrow arrow-right"></i>
      </button>
    </div>
    <p>Or take more and let choose!</p>
    <div>
      <select 
        x-ref="moreAmount"
        id="countdown-select" 
        value="3" 
      >
        <option value="3">3 pictures</option>
        <option value="5">5 pictures</option>
        <option value="10">10 pictures</option>
      </select>
      <button 
          id="restart-button" 
          @click="takeMore($refs.moreAmount.value)" 
      >
        Take more!
      </button>
    </div>
  </div>
</div>

<script>
  function cameraState() {
    const VIDEO_WIDTH = 1080;
    const VIDEO_HEIGHT = 720;

    return {
      started: false,
      countdown: 3,
      timer: 3,
      baseAmount: 0,
      toCapture: 0,
      totalPhoto: 0,
      photosData: [],
      width: VIDEO_WIDTH,
      height: VIDEO_HEIGHT,
      streaming: false,
      isRotated: false,
      videoWidth: 0,
      videoHeight: 0,
      selectedCount: 0,
      facingMode: "user",


      init() {
        this.baseAmount = Alpine.store('templateInfo').totalImages;
        this.toCapture = this.baseAmount;
        //screen.orientation.addEventListener("change", () => {
        //  console.log("rotate")
        //  this.openCamera();
        //});

        this.openCamera();
      },
      
      openCamera(facingMode) {
        navigator.mediaDevices
        .getUserMedia({ 
          video: {
            facingMode: this.facingMode,
          }, 
          audio: false })
        .then((stream) => {
          this.$refs.video.srcObject = stream;
          this.$refs.video.play();
        })
        .catch((err) => {
          console.error(`An error occurred: ${err}`);
        });

        this.$refs.video.addEventListener("canplay", () => {
          if (!this.streaming) {
            const videoWidth = this.$refs.video.videoWidth;
            const videoHeight = this.$refs.video.videoHeight;

            if(videoHeight > videoWidth) {
              this.width = VIDEO_WIDTH;
              this.height = VIDEO_HEIGHT;
              this.isRotated = false;
              this.$refs.video.style.transform = "none";
            } else {
              this.width = VIDEO_WIDTH;
              this.height = videoHeight * (this.width / videoWidth);
              this.isRotated = false;
              this.$refs.video.style.transform = "none";
            }
            
            if(this.facingMode === "user") {
              this.$refs.video.style.transform = "scaleX(-1)";
            } else {
              this.$refs.video.style.transform = "none";
            }

            Alpine.store('capturedInfo', {
              width: this.width,
              height: this.height,
            });
            this.streaming = true;
          }
        }, false);
      },

      closeCamera() {
        let tracks = this.$refs.video.srcObject?.getTracks();
        if (tracks) {
          tracks.forEach(track => track.stop());
        }
        this.$refs.video.srcObject = null;
        this.streaming = false;
      },

      startCapture() {
        this.started = true;
        this.timer = this.countdown;
        const interval = setInterval(async () => {
          this.timer--;
          if (this.timer === 0) {
            this.flashEffect()
            let data = await this.takePicture();
            this.totalPhoto++;
            this.photosData.push({
              image: data,
              selected: this.totalPhoto <= this.baseAmount ? true : false,
            });
            this.selectedCount += this.totalPhoto <= this.baseAmount ? 1 : 0;
            if (this.totalPhoto === this.toCapture) {
              clearInterval(interval);
            } else {
              this.timer = this.countdown;
            }
          }
        }, 1000);
      },

      flashEffect() {
        const overlay = this.$refs.overlay;
        overlay.style.transition = null;
        overlay.style.opacity = 0.0;
        setTimeout(() => {
          overlay.style.transition = "opacity 0.2s";
          overlay.style.opacity = 1.0;
        }, 200);
      },

      async takePicture() {
        const canvas = document.createElement("canvas");
        const context = canvas.getContext("2d");

        const videoWidth = this.$refs.video.videoWidth;
        const videoHeight = this.$refs.video.videoHeight;

        // Set the final canvas size (e.g., 500x500)
        canvas.width = this.width;
        canvas.height = this.height;

        // Calculate the best way to fill the entire canvas without stretching
        const videoAspectRatio = videoWidth / videoHeight;
        const canvasAspectRatio = canvas.width / canvas.height;

        let sx, sy, sWidth, sHeight;

        if (videoAspectRatio > canvasAspectRatio) {
          // Video is wider than canvas -> crop width
          sHeight = videoHeight;
          sWidth = sHeight * canvasAspectRatio; // Maintain canvas aspect ratio
          sx = (videoWidth - sWidth) / 2; // Center crop
          sy = 0;
        } else {
          // Video is taller than canvas -> crop height
          sWidth = videoWidth;
          sHeight = sWidth / canvasAspectRatio; // Maintain canvas aspect ratio
          sx = 0;
          sy = (videoHeight - sHeight) / 2; // Center crop
        }

        if(this.facingMode === "user") {
          // Mirror the image horizontally
          context.save(); // Save the current state
          context.translate(canvas.width, 0); // Move the origin to the right
          context.scale(-1, 1); // Flip horizontally
        }

        // Draw the image with the mirrored transformation
        context.drawImage(this.$refs.video, sx, sy, sWidth, sHeight, 0, 0, canvas.width, canvas.height);

        context.restore(); // Restore to the previous state to avoid affecting other drawings

        return canvas.toDataURL("image/png");
      },

      reset() {
        this.started = false;
        this.totalPhoto = 0;
        this.streaming = false;
        this.canvas = null;
        this.photosData = [];
        this.toCapture = this.baseAmount;
      },

      takeMore(amount) {
        this.toCapture += parseInt(amount);
        this.startCapture();
      },

      isFinished() {
        return this.started && (this.totalPhoto === this.toCapture);
      },

      onNext() {
        this.closeCamera();
        let selectedPhotos = [];
        for(photo of this.photosData) {
          if(photo.selected) {
            selectedPhotos.push(photo.image);
          }
        }
        Alpine.store('images', selectedPhotos);
        htmx.ajax('GET', './component/customize.html', {target:'main', swap:'innerHTML'})
      },

      toggleSelectPhoto(index, select) {
        this.photosData[index].selected = select;
        this.selectedCount += select ? 1 : -1;
      },

      canToggle(index) {
        if(this.photosData[index] && this.photosData[index].selected && this.photosData.length > this.baseAmount) return true;
        if(this.photosData.length <= this.baseAmount || this.selectedCount === this.baseAmount) return false;

        return true;
      },

      mirrorCamera(mirror) {
        if(mirror) {
          this.facingMode = "user";
          this.closeCamera();
          this.openCamera();
        } else {
          this.facingMode = "environment"
          this.closeCamera();
          this.openCamera();
        }
      },
    };
  }
</script>
