<div 
  class="container-center"
  x-data="customizeState()"
>
  <div x-ref="blocker" style="position: absolute; min-width: 100%; min-height: 100%; display: none;"></div>
  <h1>Choose Your Styles!</h1>
  <div id="customize-tools" style="padding: 10px 0 10px 0;">
    <div id="tools">
      <div>
        <label><b>Background Color:</b></label>
        <div class="pickr" x-ref="colorPicker"></div>
      </div>

      <div>
        <lable><b>Background Style:</b></lable>
        <select 
          id="countdown-select" 
          style="margin-left: 5px;"
          value="/public/bg-style/doodle.png" 
          @change="setBackgroundStyle($event.target.value)"
        >
          <option value="">--None--</option>
        <template x-for="bgStyle in $store.bgStyleList">
          <option :value="bgStyle.path" x-text="bgStyle.name"></option>
        </template>
        </select>
      </div>
      <div>
        <lable><b>Timestamp Format:</b></lable>
        <select 
          id="countdown-select" 
          style="margin-left: 5px;"
          value="" 
          @change="setTimestamp($event.target.value)"
        >
          <option value="">--None--</option>

          <!-- Date + Time formats -->
          <option value="" disabled>--Date + Time--</option>
          <option :value="formatTimestamp(currentTimestamp, 'DD/MM/YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'DD-MM-YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'DD MMM YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'DD MMMM YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'YYYY-MM-DD HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'YYYY/MM/DD HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'MMM DD, YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'MMMM DD, YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'ddd DD MMM YYYY HH:mm')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'dddd, DD MMMM YYYY HH:mm')" x-text="$el.value"></option>

          <!-- Date only formats -->
          <option value="" disabled>--Date only--</option>
          <option :value="formatTimestamp(currentTimestamp, 'DD/MM/YYYY')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'DD-MM-YYYY')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'YYYY-MM-DD')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'MMM DD, YYYY')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'MMMM DD, YYYY')" x-text="$el.value"></option>
          <option :value="formatTimestamp(currentTimestamp, 'dddd, DD MMMM YYYY')" x-text="$el.value"></option>
        </select>
      </div>
    </div>
    <div id="previewer-container">
      <div x-show="loadingPreview" id="previewer-overlay"></div>
      <p x-show="loadingPreview" id="previewer-loading">Loading...</p>
      <img id="previewer" :src="preview"/>
    </div>
  </div>
  <div style="padding: 10px 0 10px 0;">
    <button 
      id="download-button" 
      @click="downloadImage()"
      style="width: 100px; height: 50px;"
    >
      Download!
    </button>
  </div>
  <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <p>Want to take new photos? Let's &nbsp;</p>
    <button 
      id="next-button" 
      @click="onRestart()" 
      class="ghost"
      style="padding: 0; font-size: 17px"
    >
      Start again!
    </button>
  </div>
</div>

<script>
  function customizeState() {
    const svg = Alpine.store('templateInfo').svg;
    const urls = Alpine.store('images');
    const pickr = Pickr.create({
      el: '.pickr',
      theme: 'nano', // or 'monolith', or 'nano'
      comparison: false,
      default: '#ffffff', 
      useAsButton: true,
      swatches: [
        '#F44336', // Red
        '#E91E63', // Pink
        '#9C27B0', // Purple
        '#673AB7', // Deep Purple
        '#3F51B5', // Indigo
        '#2196F3', // Blue
        '#03A9F4', // Light Blue
        '#00BCD4', // Cyan
        '#009688', // Teal
        '#4CAF50', // Green
        '#8BC34A', // Light Green
        '#CDDC39', // Lime
        '#FFEB3B', // Yellow
        '#FFC107'  // Amber
      ],

      components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,

        // Input / output Options
        interaction: {
          hex: true,
          rgba: true,
          input: true,
          cancel: false,
          save: false, 
        }
      },
    });

    const getFormattedDate = () => {
      const now = new Date();
      
      const pad = (num) => String(num).padStart(2, '0');

      const year = now.getFullYear();
      const month = pad(now.getMonth() + 1); // Months are 0-based
      const day = pad(now.getDate());
      const hours = pad(now.getHours());
      const minutes = pad(now.getMinutes());
      const seconds = pad(now.getSeconds());

      return `${year}-${month}-${day}_${hours}-${minutes}-${seconds}`;
    }

    const svgToImageUri = async (svg, width, height) => {
      const serializer = new XMLSerializer();
      const updatedSVG = serializer.serializeToString(svg);
      const canvas = document.createElement('canvas');
      const ctx = canvas.getContext('2d');
      const v = canvg.Canvg.fromString(ctx, updatedSVG)
      v.resize(width, height)
      v.start();
      await v.ready();
      const uri = canvas.toDataURL('image/png');

      return uri
    }

    const inlineSvgToDataUrl = (svgString) => {
      return `data:image/svg+xml,${encodeURIComponent(svgString)}`;
    }

    const blobToBase64 = async (blob) => {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onloadend = () => resolve(reader.result); // result is a data URL (base64)
        reader.onerror = reject;
        reader.readAsDataURL(blob);
      });
    }

    const fetchImageAsDataURL = async (url) => {
      return new Promise((resolve, reject) => {
        let img = new Image();
        img.crossOrigin = "Anonymous"; // Request image with CORS
        img.src = url;

        img.onload = function () {
          let canvas = document.createElement('canvas');
          canvas.width = img.width;
          canvas.height = img.height;
          let ctx = canvas.getContext('2d');
          ctx.drawImage(img, 0, 0);
          resolve(canvas.toDataURL()); // Convert to base64
        };

        img.onerror = function () {
          reject(new Error("Image loading failed"));
        };
      });
    }

    const getImageSize = (url) => {
      return new Promise((resolve, reject) => {
        const img = new Image();
        img.onload = () => resolve({ width: img.naturalWidth, height: img.naturalHeight });
        img.onerror = reject;
        img.src = url;
      });
    }

    function parseRgbToObject(rgbString) {
      const result = rgbString.match(/\d+/g);
      if (!result || result.length < 3) return null;

      return {
        r: parseInt(result[0], 10),
        g: parseInt(result[1], 10),
        b: parseInt(result[2], 10)
      };
    }

    function isDark(rgb){
      const brightness = Math.round(((parseInt(rgb.r) * 299) +   (parseInt(rgb.g) * 587) + (parseInt(rgb.b) * 114)) / 1000);
      if(brightness < 150){
        return true;
      } else {
        return false;
      }
    }

    return {
      preview: null, loadingPreview: false, currentTimestamp: Date.now(),

      async updatePreview() {
        this.preview = await inlineSvgToDataUrl(svg.outerHTML);
      },

      async init() {
        svg.querySelectorAll("text").forEach(text => {
          text.style.fontFamily = 'Menlo, Consolas, "SF Mono", Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", "Roboto Mono", "Droid Sans Mono", Courier, monospace';
        });

        const images = svg.getElementsByClassName("img");

        pickr.on('hide', instance => {
          this.setBackgroundColor(instance.getColor().toHEXA())
          this.$refs.colorPicker.style.background = instance.getColor().toHEXA();
        })

        return new Promise(async (resolve, reject) => {
          for(let i = 0; i < images.length; i++) {
            const url = urls[i]
            const image = images[i]
            if (url && image) {
              try {
                const width = Alpine.store('capturedInfo').width;
                const height = Alpine.store('capturedInfo').height;
                const currentWidth = image.getAttribute("width");
                const currentHeight = image.getAttribute("height");
                const newHeight = currentHeight;
                const newWidth = currentHeight*(width/height);
                image.setAttributeNS("http://www.w3.org/1999/xlink", "href", url);
                image.setAttributeNS(null, "width", newWidth);

                const ccw = currentWidth/2;
                const cch = currentHeight/2;
                const cw = newWidth/2;
                const ch = newHeight/2;
                const cx = image.getAttribute("x");
                const cy = image.getAttribute("y");
                image.setAttributeNS(null, "x", cx-(cw-ccw));
                image.setAttributeNS(null, "y", cy-(ch-cch));
              } catch (error) {
                console.error("Failed to load image:", error);
                reject()
              }
            }
          }
          const bgColor = svg.getElementById("bg-color");
          if(bgColor) {
            const color = bgColor.getAttribute("style").match(/fill:\s*([^;]+)/)[1];
            pickr.setColor(color);
            this.$refs.colorPicker.style.background = color;
          }
          await this.updatePreview();
          this.$refs.main.classList.remove("fade-hide");
          resolve()
        })
      },

      async setBackgroundStyle(style) {
        const bgStyle = svg.getElementById("bg-style");
        if(bgStyle) {
          this.loadingPreview = true;
          if(!style) {
            bgStyle.style.display = "none";
            await this.updatePreview();
            this.loadingPreview = false;
            return;
          }

          const url = await fetchImageAsDataURL(style);
          bgStyle.style.display = "inline";

          const imageSize = await getImageSize(url)

          const width = imageSize.width;
          const height = imageSize.height;
          const currentWidth = bgStyle.getAttribute("width");
          const currentHeight = bgStyle.getAttribute("height");
          const newHeight = currentHeight;
          const newWidth = currentHeight*(width/height);
          bgStyle.setAttributeNS("http://www.w3.org/1999/xlink", "href", url);
          bgStyle.setAttributeNS(null, "width", newWidth);
          await this.updatePreview();
        }
        this.loadingPreview = false;
      },

      async updateTimestampColor() {
        const timestamp = svg.getElementById("timestamp");
        if(timestamp.style.opacity) {
          const timestamp = svg.getElementById("timestamp");
          const tspan = timestamp.querySelector("tspan");

          const bgColor = svg.getElementById("bg-color");
          const color = bgColor.style.fill;
          if(isDark(parseRgbToObject(color))) {
            tspan.style.fill = "#ffffff";
          } else {
            tspan.style.fill = "#000000";
          }
        }
      },

      async setTimestamp(text) {
        const timestamp = svg.getElementById("timestamp");
        if(timestamp) {
          this.loadingPreview = true;
          if(!text) {
            timestamp.style.opacity = "0";
            await this.updatePreview();
            this.loadingPreview = false;
            return;
          }

          timestamp.style.opacity = "1";
          const tspan = timestamp.querySelector("tspan");
          tspan.innerHTML = text;
          
          this.updateTimestampColor();

          await this.updatePreview();
        }
        this.loadingPreview = false;
      },

      async setBackgroundColor(color) {
        this.loadingPreview = true;
        const bgColor = svg.getElementById("bg-color");
        if(bgColor) {
          bgColor.style.fill = color;
          this.updateTimestampColor();
          await this.updatePreview();
        }
        this.loadingPreview = false;
      },

      async downloadImage() {
        const width = svg.getAttribute("width");
        const height = svg.getAttribute("height");
        const uri = await svgToImageUri(svg, width, height);
        const a = document.createElement('a');
        a.href = uri;
        a.download = `photobooth_${getFormattedDate()}.png`;
        a.click();
      },

      onRestart() {
        if(!confirm("Did you download it? You won’t be able to come back.")) {
          return
        }

        this.$refs.main.addEventListener("transitionend", (event) => {
          htmx.ajax('GET', './component/template.html', {target:'main', swap:'innerHTML'})
        }, { once: true });

        this.$refs.blocker.style.display = "inline-block";
        this.$refs.main.classList.add("fade-hide");
      },
    };
  }
</script>
