<div 
  class="container-center"
  x-data="{ images: [], selected: 0 }" 
  x-init="images = await getPreviews($store.templateList)"
  x-transition
>
  <h1><i>Choose Your Favourite Template!</i></h1>
  <div>
    <template x-for="(image, index) in images" :key="index">
      <img 
        class="template-select" 
        :style="(selected === index) ? 'border: 5px solid var(--blue);border-radius: 10px;':'border: 5px solid white;border-radius: 0px;'" 
        :src="image" 
        @click="selected = index"
      />
    </template>
  </div>
  
  <button 
    id="next-button" 
    @click="handleNextClick()"
  >
    Next 
    <i class="arrow arrow-right"></i>
  </button>
</div>

<script>
  async function loadSVG(filename) {
    const res = await fetch(filename);
    const svgText = await res.text();

    const div = document.createElement('div');
    div.innerHTML = svgText;
    return div.getElementsByTagName("svg")[0];
  }

  function inlineSvgToDataUrl(svgString) {
    return `data:image/svg+xml,${encodeURIComponent(svgString)}`;
  }

  async function setTemplate(template) {
    const svg = await loadSVG(template);
    const images = svg.getElementsByClassName("img");
    Alpine.store('selectedTemplate').svg = svg;
    Alpine.store('selectedTemplate').totalImage = images.length;
  }

  async function getPreviews(templates) {
    let urls = [];
    for (let template of templates) {
      const svg = await loadSVG(template);
      urls.push(await inlineSvgToDataUrl(svg.outerHTML));
    }
    return urls;
  }

  async function handleNextClick() {
    const selectedTemplate = Alpine.store('templateList')[Alpine.store('selectedTemplate').selected || 0];

    await setTemplate(selectedTemplate); // Wait for template to be set

    // Manually trigger htmx GET request
    htmx.ajax('GET', './component/capture.html', { target: 'main' });
  }

  // Set the first template by default
  document.addEventListener('alpine:init', async () => {
    await setTemplate(Alpine.store('templateList')[0]);
  });
</script>

