<div 
  class="container-center"
  x-data="{ images: getPreviews($store.templateList), selected: 0 }" 
  x-transition
>
  <h1><i>Choose Your Favourite Template!</i></h1>
  <div>
    <template x-for="(image, index) in images">
      <img 
        class="template-select" 
        :style="(selected === index) ? 'border: 5px solid var(--blue);border-radius: 10px;':'border: 5px solid white;border-radius: 0px;'" 
        :src="image" 
        @click="selected = index"
      ></img>
    </template>
  </div>
  <button 
    id="next-button" 
    @click="await setTemplate($store.templateList[selected])" 
    hx-target="main"
    hx-get="./component/capture.html"
  >
    Next 
    <i class="arrow arrow-right"></i>
  </button>
</div>

<script>
  async function loadSVG(filename) {
    const res = await fetch(filename);
    const svgText = await res.text();

    const div = document.createElement('div');
    div.innerHTML = svgText;
    const svg = div.getElementsByTagName("svg")[0];

    return svg;
  }

  function inlineSvgToDataUrl(svgString) {
    return `data:image/svg+xml,${encodeURIComponent(svgString)}`;
  }

  async function setTemplate(template) {
    const svg = await loadSVG(template);
    const images = svg.getElementsByClassName("img");
    Alpine.store('selectedTemplate').svg = svg;
    Alpine.store('selectedTemplate').totalImage = images.length;
  }

  async function getPreviews(templates) {
    let urls = []
    for(let i = 0; i < templates.length; i++) {
      const template = templates[i];
      const svg = await loadSVG(template)
      const height = 720;
      const width = svg.getAttribute("width")*(720/svg.getAttribute("height"));
      urls.push(await inlineSvgToDataUrl(svg.outerHTML))
    }

    return urls;
  }

  setTemplate(Alpine.store('templateList')[0])
</script>
