<div 
  class="container-center"
  style="postion: relative;"
  x-data="templateState" 
>
  <div x-ref="blocker" style="position: absolute; min-width: 100%; min-height: 100%; display: none;"></div>
  <h1>Pick Your Layout!</h1>
  <p x-show="!ready">Loading...</p>
  <div id="template-select-container">
    <template x-for="(url, index) in previewUrlList">
      <img 
        class="template-select" 
        :style="(selectedIndex === index) ? 'border: 5px solid var(--primary); border-radius: 10px;':'border-radius: 10px; padding: 5px;'" 
        :src="url" 
        @click="selectTemplate(index)"
      ></img>
    </template>
  </div>
  <button 
    x-show="ready"
    id="next-button" 
    @click="onNext()"
  >
    Next 
    <i class="arrow arrow-right"></i>
  </button>
</div>

<script>
  function templateState() {
    async function loadSVG(filename) {
      const res = await fetch(filename);
      const svgText = await res.text();

      const div = document.createElement('div');
      div.innerHTML = svgText;
      const svg = div.getElementsByTagName("svg")[0];

      return svg;
    }

    function inlineSvgToDataUrl(svgString) {
      return `data:image/svg+xml,${encodeURIComponent(svgString)}`;
    }

    return {
      ready: false,
      previewUrlList: [],
      templateInfoList: [],
      selectedIndex: 0,
      

      async init() {
        let tempTemplateInfoList = [];
        let tempPreviewUrlList = [];
        this.$refs.main.classList.remove("fade-hide");
        for(const template of Alpine.store("templatePathList")) {
          const templateInfo = await this.getTemplateInfo(template);
          const previewUrl = await this.getPreviewUrl(templateInfo.svg);

          tempTemplateInfoList.push(templateInfo);
          tempPreviewUrlList.push(previewUrl);
        }
        this.selectedIndex = 0;
        this.templateInfoList = tempTemplateInfoList;
        this.previewUrlList = tempPreviewUrlList;
        Alpine.store("templateInfo", this.templateInfoList[this.selectedIndex]);
        Alpine.store('images', []);
        Alpine.store('capturedInfo', {
          width: 1080,
          height: 720,
        });
        this.ready = true;
      },

      async getTemplateInfo(template) {
        const svg = await loadSVG(template);
        const images = svg.getElementsByClassName("img");
        
        return {
          svg: svg,
          totalImages: images.length,
        };
      },

      async getPreviewUrl(svg) {
          const height = 720;
          const width = svg.getAttribute("width")*(720/svg.getAttribute("height"));
          return await inlineSvgToDataUrl(svg.outerHTML);
      },

      selectTemplate(index) {
        this.selectedIndex = index;
        Alpine.store("templateInfo", this.templateInfoList[index])
      },

      onNext() {
        this.$refs.main.addEventListener("transitionend", (event) => {
          htmx.ajax('GET', './component/capture.html', {target:'main', swap:'innerHTML'});
        }, { once: true });

        this.$refs.blocker.style.display = "inline-block";
        this.$refs.main.classList.add("fade-hide");
      },
    }
  }
</script>
